.footer {
  background: var(--primary);
  color: white;
  padding: 6rem 0 0;
}

.footer .container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.footer--col-left, .footer--col-middle, .footer--col-right {
	flex: 0 0 30%;
}

.footer--col-left img {
	width: 18rem;
}

.footer--col-left p {
	font-size: 1.4em;
	line-height: 1.7;
}

.footer--col-middle p {
	margin-bottom: .5rem;
}

.footer--col-middle a {
	color: white;
	display: inline-block;
	font-size: inherit;
}

.footer--social-media {
	display: flex;
	margin-top: 2rem;
}

.footer--social-media svg {
	height: 1.3rem;
	width: 1.3rem;
}

.footer--social-media a {
	padding: .5rem 1rem;
}

.footer--social-media a:first-of-type {
	padding-left: 0;
}

.footer--bottom {
	margin: 4rem 0 0;
}

.footer--bottom .container {
	border-top: .1rem solid white;
	padding: 1.6rem 0;
}

.footer--bottom a, .footer--bottom p, .footer--bottom li {
	color: white;
	margin: 0;
	font-size: 1.4em;
}

.footer--bottom a:hover {
	color: var(--secondary);
}

.footer--bottom ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.footer--bottom a {
	font-size: inherit;
	padding: .5rem;
}


