.section--intro {
	padding: 6rem 0;
}

.section--intro .container {
	display: flex;
	justify-content: space-between;
}

.section--intro-content {
	flex: 0 0 45%;
}

.section--intro-content h2 {
	margin: 0 0 1.6rem;

}

.section--intro .button {
	display: inline-block;
	align-self: center;
	position: relative;
}

.section--intro .button:before {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -31rem;
	width: 24rem;
	height: .1rem;
	background-color: var(--secondary); 
}